# compiled output
bin/*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Aa]rtefacts/
[Aa]rtifacts/
Deployment/[Aa]rtefacts
tools/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
/dist
/tmp
/out-tsc
/wwwroot
# Only exists if Bazel was run
/bazel-out

# profiling files
chrome-profiler-events*.json

# IDEs and editors
.idea
*.iml
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
obj/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
